body {
    font-family: 'Cairo', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 60px; /* Add padding to avoid footer overlap */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

#features {
    margin: 20px;
}

#order {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 20px; /* Add margin to avoid overlap */
}

.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: fixed;
    bottom: 80px; /* Adjust this value to avoid overlap with the footer */
    right: 20px;
    z-index: 1000; /* Ensure it stays above other elements */
}

.whatsapp-button:hover {
    background-color: #128C7E;
    transform: scale(1.1);
}

.whatsapp-button i {
    margin-right: 10px;
}