document.getElementById('order-form').addEventListener('submit', function (e) {
    e.preventDefault();

    const phone = document.getElementById('phone').value;
    const phonePattern = /^\+?\d{10,}$/; // Simple pattern for phone numbers

    if (!phonePattern.test(phone)) {
        alert('يرجى إدخال رقم هاتف صحيح.');
        return;
    }

    // Proceed with form submission
    const form = e.target;
    const formData = new FormData(form);

    const data = {};
    formData.forEach((value, key) => {
        data[key] = value;
    });

    const scriptURL = 'https://script.google.com/macros/s/AKfycbyk9ih7wLXNJcWItquWeFxpQ5Bt3oqFaqp-fleyHOB1j-NaZWjl6MrFrGf8A1Pgteax/exec';

    fetch(scriptURL, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.text())
    .then(message => {
        document.getElementById('success-message').style.display = 'block';
        form.reset();
    })
    .catch(error => {
        console.error('Error:', error);
        alert('حدث خطأ أثناء إرسال الطلب. يرجى المحاولة مرة أخرى.');
    });
});